.container-modal {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-card-modal {
    padding: 25px 60px;
    border-radius: 15px;
    background-color: var(--color-secondary-dark-gray);
}

.cadastro-titulo {
    color: var(--color-primary-white);
    font-family: var(--font-title);
    font-size: var(--font-h2-size);
    font-weight: var(--font-title-weight);
}

.btn-cadastro-de-produto {
    margin: 20px 0px 0px 0px;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

form label {
    color: var(--color-primary-white);
    font-family: var(--font-body);
    font-weight: var(--font-body-weight);
}

form input {
    padding: 8px 3px;
    border-radius: 3px;
    width: 300px;
}