.linha-de-sessoes {
    display: flex;
    justify-content: space-evenly;
    background-color: var(--color-secondary-dark-gray);
}

.linha-de-sessoes a {
    color: var(--color-primary-white);
    text-decoration: none;
    font-family: var(--font-body);
}

.h2-lancamentos {
    display: flex;
    justify-content: center;
    font-family: var(--font-title);
    font-size: var(--font-h2-size);
    font-weight: var(--font-title-weight);
    padding: 30px;
}

.container-section-lancamentos {
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 0px 0px 40px 0px;
}

@media (max-width: 480px) {

    .container-section-lancamentos {
        flex-direction: column;
        align-items: center;
    }
}