.embla {
  overflow: hidden;
  margin: auto;
  background: #ffffff;
  background: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(0, 0, 0, 1) 11%, rgba(0, 0, 0, 1) 100%);
}

.embla__container {
  display: flex;
}

.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
}

.embla_image {
  width: 100%;
  height: auto;
}