.section-semifooter {
    display: flex;
    justify-content: space-evenly;
    align-items: start;
    padding: 20px 0px;
    background-color: var(--color-secondary-gray);
}

.section-semifooter img {
    width: 46px;
    height: 46px;
}

.section-semifooter .card-semi-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 180px;
    text-align: center;
}

.section-semifooter .card-semi-footer h3 {
    font-family: var(--font-body);
    font-weight: 800;
    font-size: var(--font-body-size);

}

.section-semifooter .card-semi-footer p {
    font-family: var(--font-body);
    font-size: var(--font-body-weight);
    line-height: 20px;
}

@media (max-width: 480px) {

    .section-semifooter {
        display: none;
    }
}