.combina-com {
    padding: 50px 0px 70px 0px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.container-cards {
    display: flex;
    justify-content: center;
    gap: 55px;
}


.titulo-combinacom {
    font-family: var(--font-title);
    font-size: var(--font-h2-size);
    font-weight: var(--font-title-weight);
}