.container-canvas {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 0px !important;
    background-color: var(--color-secondary-gray) !important; 
}


.header-canvas {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 20px;
    gap: 10px;
    font-family: var(--font-title);
    font-size: var(--font-h3-size);
    border-bottom: 1px solid #000;
    background-color: #fff;
}

.carrinho-com-bola {
    display: flex;
    justify-content: start;
    gap: 27px;
}

.fechar-canvas {
    display: flex;
    justify-content: end;
    padding: 15px;
    cursor: pointer;
}


.container-conteudo-sacola {
    display: flex;
    flex-direction: row;
}

.container-conteudo-sacola img {
    width: 150px;
    height: 150px;
}

.info-produtos {
    display: flex;
    position: relative;
    flex-direction: column;
    gap: 20px;
    font-family: var(--font-body);
}

.info-cor-e-tamanho {
    display: flex;
    flex-direction: row;
    gap: 10px;

}
.cor {
    padding: 5px 9px;
    border: 1px solid #000;
    border-radius: 10px;
}

.tamanho{
    padding: 5px 9px;
    border: 1px solid #000;
    border-radius: 10px
}

.prize{
    font-family: var(font-prize);
}

.qtd-e-lixeira{
    display: flex;
    flex-direction: row;
    padding: 1px 8px;
    border: 1px solid #000;
    border-radius: 10px;
    gap: 10px;
    background-color: #fff;
}

.qtd-e-lixeira button{
    background-color: #fff;
    cursor: pointer;
}

.footer-canvas{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 200px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    padding: 0px 20px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.valor-total{
    display: flex;
    justify-content: space-between;
    gap: 120px;
    font-family: var(--font-prize);
    font-size: var(--font-h4-size);
}

.h2-valor-total{
    text-decoration: underline;
}

@media (max-width: 480px) {
    .valor-total {
        gap: 60px;
    }
}