.container-section-inverno {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 50px;
<<<<<<< HEAD
    padding: 0px 10px 40px 10px;
=======
    padding: 20px;
>>>>>>> b71ed6fdd6f46aa36720accdbc7cb497219cc0f1
}

.h2-inverno {
    display: flex;
    justify-content: center;
    font-family: var(--font-title);
    font-size: var(--font-h2-size);
    font-weight: var(--font-title-weight);
    padding: 30px;
}


@media (max-width: 480px) {
    .container-section-inverno{
        flex-direction: column;
        align-items: center;
    }
}