.section-ofertas {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px 0px;
    gap: 30px;

}


.container-ofertas {
    display: flex;
    flex-direction: row;
    gap: 40px;
    padding: 50px 0px;
}

.section-ofertas h2 {
    font-family: var(--font-title);
    font-size: var(--font-h2-size);
    font-weight: var(--font-title-weight);
    display: flex;
    justify-content: center;
}

.bannerComSale {
    position: relative;
    display: inline-block;
}

@media (max-width: 480px) {

    .section-ofertas {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px 10px;
        gap: 30px;
    }

    .banner-desconto {
        display: none;

    }

    .container-ofertas {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        flex-direction: column;
        align-items: center;
        gap: 20px;
        padding: 0px;
    }

    .container-ofertas img {
        width: 200px;
    }
}