.cardroupa {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 0.3s;
    cursor: pointer;
    width: fit-content;
  margin: 0 auto;
}

.cardroupa:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 60px 10px #00000034;
}

.roupa-content img {
    width: 37px;
    height: 37px;
}

.roupa-content {
    display: flex;
    justify-content: space-between;
    width: 300px;
    padding: 15px;
}

.nome-roupa {
    font-family: var(--font-body);
    font-size: var(--font-body-size);
    font-weight: var(--font-body-weight);
}

.prizes {
    display: flex;
    flex-direction: row;
    gap: 15px;

}

.prize {
    font-family: var(--font-prize);
    font-size: var(--font-prize-size);
    font-weight: var(--font-prize-weight);
}

.discount {
    font-family: var(--font-prize);
    font-size: var(--font-discount-size);
    color: var(--color-secondary-dark-gray);
    text-decoration: line-through;
    padding-top: 5px;
}



@media (max-width: 480px) {


    .cardroupa{
        width: 200px;
        height: 371px;
    }
    .imagem-roupa {
        width: 200px;
    }

    .roupa-content img {
        width: 30px;
    }

    .roupa-content {
        width: 200px;
        padding: 10px;
    }

    .nome-roupa {
        font-size: 14px;
    }

    .prize {
        font-size: 20px;
    }
}