.top-line {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 30px;
  background-color: var(--color-primary-black);
}

.top-line p {
  display: flex;
  align-items: center;
  color: var(--color-primary-white);
  font-family: var(--font-title);
  font-size: var(--font-h4-size);
  font-weight: var(--font-title-weight);
}



.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 96px;
  padding: 40px;
}

.btn-search {
  display: flex;
  justify-content: start;
  background-color: hsla(0, 0%, 100%, 0);
  width: 200px;
}

.btn-search img {
  cursor: pointer;
  transition: 0.1s;
}

.btns-kart-profile {
  display: flex;
  justify-content: end;
  width: 200px;
  gap: 10px;
}

.btn-profile {
  background-color: hsla(0, 0%, 100%, 0);
  transition: 0.1s;
  cursor: pointer;
}

.btn-kart{
  cursor: pointer;
  transition: 0.1s;
  background-color: var(--color-primary-white);
}


.btn-search img:hover{
  transform: scale(1.05);
}


.btn-kart:hover{
  transform: scale(1.05);
}

.btn-profile:hover {
  transform: scale(1.05);
}

.linha-de-sessoes {
    display: flex;
    justify-content: space-evenly;
    background-color: var(--color-secondary-dark-gray);
}

.linha-de-sessoes a {
    color: var(--color-primary-white);
    text-decoration: none;
    width: 132px;
    text-align: center;
    font-family: var(--font-body);
    transition: 0.2s;
}
.linha-de-sessoes a:hover {
    transform: scale(1.06);
}
@media (max-width: 480px) {
  .header {
  gap: 40px;
  padding: 5px 15px;
  }
  .linha-de-sessoes a{
    font-size: 14px;
}
  .top-line {
    display: none;
  }
}