.cardroupa-branco {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 0.3s;
    cursor: pointer;
}

.cardroupa-branco:hover {
    transform: scale(1.05);
}

.roupa-content-branco img {
    width: 37px;
    height: 37px;
}

.roupa-content-branco {
    display: flex;
    justify-content: space-between;
    width: 300px;
    padding: 15px;
}

.nome-roupa-branco {
    font-family: var(--font-body);
    font-size: var(--font-body-size);
    font-weight: var(--font-body-weight);
}

.prizes-branco {
    display: flex;
    flex-direction: row;
    gap: 15px;

}

.prize-roupa-branco {
    font-family: var(--font-prize);
    font-size: var(--font-prize-size);
    font-weight: var(--font-prize-weight);
}

.discount-roupa-branco {
    font-family: var(--font-prize);
    font-size: var(--font-discount-size);
    color: var(--color-secondary-gray);
    text-decoration: line-through;
    padding-top: 5px;
}

.cardroupa-branco:hover {
    transform: scale(1.07);
    box-shadow: 0px 0px 60px 10px #00000034;
}

@media (max-width: 480px) {


    .cardroupa-branco{
        width: 200px;
        height: auto;
    }
    .imagem-roupa-branco {
        width: 200px;
    }

    .roupa-content-branco img {
        width: 30px;
    }

    .roupa-content-branco {
        width: 200px;
        padding: 10px;
    }

    .nome-roupa-branco {
        font-size: 14px;
    }

    .prize-roupa-branco {
        font-size: 20px;
    }
}