footer {
    display: flex;
    flex-direction: column;
    background-color: var(--color-primary-black);
    color: var(--color-primary-white);
    padding: 30px;
    gap: 130px;
}

footer img {
    height: 20px;
}

footer p {
    font-family: var(--font-body);
    line-height: 20px;
}

.container-footer h3 {
    font-family: var(--font-title);
    font-size: var(--font-h3-size);
    font-weight: var(--font-title-weight);
}

.container-footer p {
    font-family: var(--font-body);
    font-size: var(--font-h4-size);
    font-weight: var(--font-body-weight);
}

.container-footer {
    display: flex;
    justify-content: space-around;
    align-items: start;
    padding: 40px 0px 0px;
}


.formas-de-pagamento {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 220px;
}

.formas-de-pagamento .box-pagamentos {
    display: flex;
    gap: 10px;
}

.contato-e-suporte {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 220px;

}

.contato-e-suporte h4 {
    font-family: var(--font-title);
    font-size: var(--font-h4-size);
    font-weight: var(--font-title-weight);
}

.contato-e-suporte .telefone {
    display: flex;
    text-decoration: underline;
    gap: 10px;
    align-items: center;
}

.contato-e-suporte .whatsapp {
    display: flex;
    text-decoration: underline;
    gap: 10px;
    align-items: center;
}

.redes-sociais {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 220px;
}

.redes-sociais .box-redes-sociais {
    display: flex;
    gap: 10px;
}

@media (max-width: 480px) {
    footer {
        padding: 30px;
        gap: 70px;
    }

    .container-footer {
        flex-direction: column;
        align-items: center;
        gap: 40px;
    }

    .formas-de-pagamento,
    .contato-e-suporte,
    .redes-sociais {
        width: 100%;
        align-items: center;
    }
}