.section-404 {
    margin: 0;
    padding: 0;
    background-color: #0a1821;
    height: 100vh;
    width: 100vw;
    font-family: Roboto, Arial, sans-serif;
    color: #000;
    text-align: center;
}
 
.not-found {
    width: 560px;
    height: 225px;
    margin-right: -10px;
}
 
.starry-sky {
    display: block;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}
 
.notfound-copy .search-icon {
    display: inline-block;
}
 
.notfound-copy {
    color: #fff;
    position: fixed;
    top: 25px;
    right: 10%;
    text-align: right;
}
 
.notfound-copy h1 {
    font-weight: 700;
    font-size: 40px;
}
 
/* change to alternating star opacities */
.notfound-copy .all-stars {
    animation: blinkblink 7s linear infinite;
}
 
.virou-lost-midia{
    width: 550px;
    margin-top: 20px;
}
 
@keyframes blinkblink {
    50% {
        opacity: 0.1;
    }
}
 
@media (max-width: 480px) {
  .moon {
    padding-top: -500px;
  }
  .virou-lost-midia{
   display: none;
  }
}