.section-menu {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    width: 100%;
    height: 550px;
    padding: 40px 0;
    background-image: url('../../../assets/images/background-section.svg');
    background-position: center;
    
    
}


.container-menu {
    display: flex;
    gap: 20px;
    padding: 40px 0;
    
}

.section-menu h2 {
    color: var(--color-primary-white);
    font-family: var(--font-title);
    font-size: var(--font-h2-size);

}

.card-menu {
    transition: 0.3s;
    cursor: pointer;
}

.card-menu:hover {
    transform: scale(1.08);
}

@media (max-width: 480px) {

    .section-menu {
    display: flex;
    flex-direction: column;
    align-items: center; 
    width: 100%;
    height: 1400px;
    padding: 40px 0;
    background-image: url('../../../assets/images/background-section.svg');
    background-position: center;
    
    
}

    .container-menu {
        flex-direction: column;
        align-items: center;
    }
    .container-menu img{
        width: 300px;
    }
}