.section-lancamentos {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px;
    gap: 35px;
    color: var(--color-primary-black);
    background-color: var(--color-primary-white);
}

.section-lancamentos h2 {
    font-family: var(--font-title);
    font-size: var(--font-h2-size);
    font-weight: var(--font-title-weight);
}

.container-lancamentos {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.container-camisas {
    display: flex;
    gap: 50px;
}

.button-vermais {
    padding: 3px 80px;
    background-color: var(--color-primary-black);
    color: var(--color-primary-white);
    border-radius: 10px;
    font-family: var(--font-title);
    font-size: var(--font-h3-size);
    text-decoration: none;
}

@media (max-width: 480px) {
    .section-lancamentos {
        padding: 20px;
        gap: 15px;
    }

    .container-camisas {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }
}